<script type="text/javascript">

$(document).ready(function() {
    var jumped = false;
    <% if params.has_key?(:pid) %>
        $.fancybox($(".fancybox"), {
            prevEffect  : 'none',
            nextEffect  : 'none',
            closeBtn        : true,
            helpers : {
                title   : {
                    type: 'outside'
                },
                thumbs  : {
                    width   : 50,
                    height  : 50
                },
                buttons : {}
            },
            'type' : 'image',
            afterShow: function(bla) {
                if (!jumped) {
                    $.fancybox.jumpto(<%= params[:pid] %>);
                    jumped = true;
                }
            },
            afterLoad: function(current, previous) {
                if (jumped) {
                    window.history.pushState("object or string", "Title", "?pid=" + current.index <% if params.has_key?(:path) %>+ "&path=<%= params[:path] %>"<% end %>);
                }
            }
        });
    <% else %>
        $(".fancybox").fancybox({
            prevEffect  : 'none',
            nextEffect  : 'none',
            closeBtn        : true,
            helpers : {
                title   : {
                    type: 'outside'
                },
                thumbs  : {
                    width   : 50,
                    height  : 50
                },
                buttons : {}
            },
            'type' : 'image',
            afterLoad: function(current, previous) {
                window.history.pushState("object or string", "Title", "?pid=" + current.index <% if params.has_key?(:path) %>+ "&path=<%= params[:path] %>"<% end %>);
            }
        });
    <% end %>
});
</script>

<h1>Album /<%= params[:path] %></h1>
<h2>Unteralben:</h2>
<ul class="list-inline">
    <% if params.has_key?(:path) %>
        <% new_path = params[:path].rpartition('/').first %>
    <% else %>
        <% new_path = '/' %>
    <% end %>
    <li><%= link_to '..', url_for(:controller => :albums, :action => :index, :path => new_path) %></li>
<% @folders.each do |folder| %>
    <li><%= link_to folder, url_for(:controller => :albums, :action => :index, :path => File.join(params.has_key?(:path) ? params[:path] : '/', folder)) %></li>
<% end %>
</ul>
<h2>Bilder:</h2>
<% @files.each do |f, dims| %>
<a class="fancybox" rel="gallery1" href="/serve_image?filename=<%= f.to_s %>&width=1024" title="Morning Godafoss (Brads5)">
    <img src="/serve_thumbnail?filename=<%= f.to_s %>" alt="" />
</a>
<% end %>
