<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<script type="text/javascript">

$(document).ready(function() {
    var jumped = false;
    <% if params.has_key?(:pid) %>
        $.fancybox($(".fancybox"), {
            prevEffect  : 'none',
            nextEffect  : 'none',
            closeBtn        : true,
            helpers : {
                title   : {
                    type: 'outside'
                },
                thumbs  : {
                    width   : 50,
                    height  : 50
                },
                buttons : {}
            },
            'type' : 'image',
            afterShow: function(bla) {
                if (!jumped) {
                    $.fancybox.jumpto(<%= params[:pid] %>);
                    jumped = true;
                }
            },
            afterLoad: function(current, previous) {
                if (jumped) {
                    window.history.pushState("object or string", "Title", "?pid=" + current.index);
                }
            },
            afterClose: function() {
                    window.history.pushState("object or string", "Title", "?");
            }
        });
    <% else %>
        $(".fancybox").fancybox({
            prevEffect  : 'none',
            nextEffect  : 'none',
            closeBtn        : true,
            helpers : {
                title   : {
                    type: 'outside'
                },
                thumbs  : {
                    width   : 50,
                    height  : 50
                },
                buttons : {}
            },
            'type' : 'image',
            afterLoad: function(current, previous) {
                window.history.pushState("object or string", "Title", "?pid=" + current.index);
            },
            afterClose: function() {
                    window.history.pushState("object or string", "Title", "?");
            }
        });
    <% end %>

/*
 * jQuery File Upload Plugin JS Example
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2010, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

/* global $, window */

$(function () {
    'use strict';

    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
        // Uncomment the following to send cross-domain cookies:
        //xhrFields: {withCredentials: true},
        url: '//<%= Rails.application.config.node_host %>:<%= Rails.application.config.node_port %>/',
        downloadTemplateId: null
    });

    // Enable iframe cross-domain access via redirect option:
    $('#fileupload').fileupload(
        'option',
        'redirect',
        window.location.href.replace(
            /\/[^\/]*$/,
            '/cors/result.html?%s'
        )
    );

    //if (window.location.hostname === 'blueimp.github.io') {
        console.log(window.location.hostname);
    if (window.location.hostname === 'bla') {
        // Demo settings:
        $('#fileupload').fileupload('option', {
            //url: '//jquery-file-upload.appspot.com/',
            url: '//<%= Rails.application.config.node_host %>:<%= Rails.application.config.node_port %>/',
            // Enable image resizing, except for Android and Opera,
            // which actually support image resizing, but fail to
            // send Blob objects via XHR requests:
            disableImageResize: /Android(?!.*Chrome)|Opera/
                .test(window.navigator.userAgent),
            maxFileSize: 999000,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i
        });
        // Upload server status check for browsers with CORS support:
        if ($.support.cors) {
            $.ajax({
                //url: '//jquery-file-upload.appspot.com/',
                url: '//<%= Rails.application.config.node_host %>:<%= Rails.application.config.node_port %>/',
                type: 'HEAD'
            }).fail(function () {
                $('<div class="alert alert-danger"/>')
                    .text('Upload server currently unavailable - ' +
                            new Date())
                    .appendTo('#fileupload');
            });
        }
    } else {
        // Load existing files:
        $('#fileupload').addClass('fileupload-processing');
        $('#fileupload').bind('fileuploadcompleted', function (e, data) {
            $(data.result.files).each(function(i, f) {
                console.log(f);
            });
        });
        $.ajax({
            // Uncomment the following to send cross-domain cookies:
            //xhrFields: {withCredentials: true},
            url: $('#fileupload').fileupload('option', 'url'),
            dataType: 'json',
            context: $('#fileupload')[0]
        }).always(function () {
            $(this).removeClass('fileupload-processing');
        }).done(function (result) {
            $(this).fileupload('option', 'done')
                .call(this, $.Event('done'), {result: result});
        });
    }

});
});
</script>

<h1>Album <%= @album.full_path %></h1>
<% if @album %>
    <% if @album.is_public %>
        <b>This album is public</b><br/>
    <% end %>
    <% if @album.user %>
        <% if @album.user == current_user %>
            <b>This is your album</b>
            (<%= link_to "Editieren", edit_album_path(@album) %>, 
            <%= link_to "Zugriffsrechte erteilen", new_user_album_permission_path(:album_id => @album) %>)<br/>
        <% else %>
            <b><%= @album.user.email %></b><br/>
        <% end %>
    <% end %>
<% end %>
You can: 
<% if @can_read %>
<b>read</b>
<% end %>
<% if @can_write %>
and <b>write</b>
<% end %>
<br/>

<% if @album and @album.path != '' %>
    <%= link_to 'zurück (' + @album.path + '/)', @album.album %>
<% else %>
    <% new_path = '/' %>
<% end %>
<% if @can_read %>
    <% if @folders.size > 0 %>
    <h2>Unteralben:</h2>
    <ul class="list-inline">
    <% @folders.each do |folder| %>
        <li><%= link_to folder.name, folder %></li>
    <% end %>
    </ul>
    <% end %>
<% end %>
<% if user_signed_in? and @can_write %>
<p>
<%= link_to "Neues Album erstellen", new_album_path(:album_id => @album) %>
</p>
<h2>Bilder Upload</h2>
<!--<form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">-->
<form id="fileupload" action="//<%= Rails.application.config.node_host %>:<%= Rails.application.config.node_port %>/" method="POST" enctype="multipart/form-data">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Bilder auswählen...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Jetzt Hochladen</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Hochladen Abbrechen</span>
                </button>
                <input type="hidden" name="path" value="<%= @album.full_path %>">
                <input type="checkbox" class="toggle">
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
    </form>
<% end %>
<% if @can_read %>
    <h2>Bilder:</h2>
    <% @files.each do |f, dims| %>
    <a class="fancybox" rel="gallery1" href="/serve_image?filename=<%= f.to_s.gsub('&','%26') %>&width=1024" title="<%= f.to_s.gsub('&','%26') %>">
        <img class="photo_thumbnail" src="/serve_thumbnail?filename=<%= f.to_s.gsub('&','%26') %>" alt="" />
    </a>
    <% end %>
<% end %>